#  Realizando a conexão com o driver

In [1]:
from google.colab import drive
drive.mount('/gdrive', force_remount=True)

Mounted at /gdrive

In [2]:
%cd '/gdrive/My Drive/PDFS'
%ls

/gdrive/My Drive/PDFS
'comorbidades  com doses  e data..csv'      Download_arquivos_01_11_2021.txt
 comorbidade.txt                            Download_arquivos_28_10_2021.txt
 Contador_ID.txt                            Download_arquivos_29_10_2021.txt
 controle_mensal_amostras_fora_padrao.csv   Download_arquivos_31_10_2021.txt
'dados publicacao.csv'                      new.csv

# Importando a base de dados

In [3]:
import zipfile
import pandas as pd
import time

# Realizando o download da base

dados = !wget --no-check-certificate https://sage.saude.gov.br/dados/sisagua/controle_mensal_amostras_fora_padrao.zip

# Pegando os CSV's que se encontravam zipados

with zipfile.ZipFile('controle_mensal_amostras_fora_padrao.zip',"r") as zip_ref:
    zip_ref.extractall("Sisagua")

time.sleep(20)

%cd 'Sisagua'
%ls

# Lendo o Dataframe

df = pd.read_csv('controle_mensal_amostras_fora_padrao.csv', encoding='latin_1',sep=';',decimal=',',
                 dtype={'Código IBGE':'object','CNPJ da Instituição':'object',r'CNPJ do escritório regional/local':'object'})

/gdrive/My Drive/PDFS/Sisagua
controle_mensal_amostras_fora_padrao.csv

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (6,9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Visão geral do formato das colunas

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 516632 entries, 0 to 516631
Data columns (total 31 columns):
 #   Column                                     Non-Null Count   Dtype
---  ------                                     --------------   -----
 0   Região Geográfica                          516632 non-null  object
 1   UF                                         516632 non-null  object
 2   Regional de Saúde                          516632 non-null  object
 3   Município                                  516632 non-null  object
 4   Código IBGE                                516632 non-null  object
 5   Tipo da Instituição                        515093 non-null  object
 6   Sigla da Instituição                       285147 non-null  object
 7   Nome da Instituição                        515093 non-null  object
 8   CNPJ da Instituição                        515093 non-null  object
 9   Nome do escritório regional/local          285147 non-null  object
 10  CNPJ do escritório regional/local          285147 non-null  object
 11  Tipo da Forma de Abastecimento             516632 non-null  object
 12  Código Forma de abastecimento              516632 non-null  object
 13  Nome da Forma de Abastecimento             516632 non-null  object
 14  Ano de referência                          516632 non-null  int64
 15  Mês de referência                          516632 non-null  int64
 16  Data de registro                           516632 non-null  object
 17  Data de preenchimento do relatório mensal  516614 non-null  object
 18  Data da coleta                             516616 non-null  object
 19  Ponto de Monitoramento                     516632 non-null  object
 20  Parâmetro                                  516632 non-null  object
 21  Zona                                       516611 non-null  object
 22  Categoria Área                             516611 non-null  object
 23  Área                                       516611 non-null  object
 24  Tipo do local                              86109 non-null   object
 25  Local                                      86109 non-null   object
 26  Endereço                                   463138 non-null  object
 27  Latitude                                   19380 non-null   float64
 28  Longitude                                  19380 non-null   float64
 29  Resultado                                  516628 non-null  object
 30  Providência do controle                    516468 non-null  object
dtypes: float64(2), int64(2), object(27)
memory usage: 122.2+ MB

# Contagem de valores nulos

In [5]:
df.isnull().astype(int).sum()

Região Geográfica                                 0
UF                                                0
Regional de Saúde                                 0
Município                                         0
Código IBGE                                       0
Tipo da Instituição                            1539
Sigla da Instituição                         231485
Nome da Instituição                            1539
CNPJ da Instituição                            1539
Nome do escritório regional/local            231485
CNPJ do escritório regional/local            231485
Tipo da Forma de Abastecimento                    0
Código Forma de abastecimento                     0
Nome da Forma de Abastecimento                    0
Ano de referência                                 0
Mês de referência                                 0
Data de registro                                  0
Data de preenchimento do relatório mensal        18
Data da coleta                                   16
Ponto de Monitoramento                            0
Parâmetro                                         0
Zona                                             21
Categoria Área                                   21
Área                                             21
Tipo do local                                430523
Local                                        430523
Endereço                                      53494
Latitude                                     497252
Longitude                                    497252
Resultado                                         4
Providência do controle                         164
dtype: int64

# Conferindo se existem 27 UF's

In [6]:
df['UF'].value_counts()

SP    267904
BA     64957
SE     40050
SC     38838
ES     20659
RS     18450
MG     12868
GO      8323
DF      8004
RJ      6087
AM      5934
PI      5697
MT      4259
MA      2917
PB      2492
RN      2286
MS      1969
PR      1759
RR       913
AL       502
RO       490
TO       468
PA       339
PE       219
CE       203
AP        40
AC         5
Name: UF, dtype: int64

# Conferindo se as 5 regiões estão corretas

In [7]:
df['Região Geográfica'].value_counts()

SUDESTE         307518
NORDESTE        119323
SUL              59047
CENTRO-OESTE     22555
NORTE             8189
Name: Região Geográfica, dtype: int64

# Conferindo se o Código IBGE está indexado corretamente

In [8]:
(df.drop_duplicates(subset ="Código IBGE", keep = 'last')['Código IBGE']).to_csv('new.csv', index=False)

Existem 31 códigos IBGE que não tiveram correspondência com a base disponibilizada pelo Ministério da saúde, sendo estes:

![image.png]()

Conferindo quais municipios são referentes os códigos do IBGE

In [9]:
df[df['Código IBGE']=='530030'].head(1)

    Região Geográfica  UF  ... Resultado Providência do controle
221      CENTRO-OESTE  DF  ...      11,1        Descarga de rede

[1 rows x 31 columns]

# Tipos de instituições presentes na base

In [10]:
df['Tipo da Instituição'].value_counts()

Regional    285147
Local       229946
Name: Tipo da Instituição, dtype: int64

# Siglas das 66 instituições presentes no banco com suas respectivas frequências

Algumas siglas se encontram cortadas ou com presença de espaçamentos na sua escrita

In [11]:
pd.options.display.max_rows=1000

In [12]:
df['Sigla da Instituição'].value_counts()

SABESP        116211
EMBASA         62787
DESO           40019
CASAN          31006
CAESB           8004
CESAN           7746
CAEMA           2601
CEDAE           2406
COPASA          2386
CAERN           2281
CORSAN          1662
AGESPISA        1244
SANESUL         1100
SANEPAR         1037
BRK AMBIEN       471
CAERD            438
SANEATINS        427
SANEAGO          411
AB TRIANGU       323
SIMAE            320
AB COLINAS       223
COSANPA          222
RDB              204
COMPESA          157
HIDROS           156
AUTOBAN          149
SPVIAS           108
AGJ               85
COSAMA            83
AUTOVIAS          81
SHO               74
REGIS BITT        74
SOFT SUL P        70
CART              68
CTEEP             66
LICS R            64
INTERVIAS         44
CENTROVIAS        43
CAESA             40
ATS               37
RENOVIAS          30
SIMAE2            29
VIA NORTE         29
RODOANEL O        22
VPAULISTA         21
AP FERNAO         11
LABORPLAN          9
LIGIANE A          9
COPANOR            7
ESSENCIAL          5
KF                 5
DEPASA             5
LACUA SIST         5
SISAR              5
BIOSUL             5
VIAOESTE           4
PROLAGOS           4
NOVADUTRA          3
SPMAR              3
ECOPISTAS          3
TIETE              3
RAIZEN             1
ARTIBRAS           1
Name: Sigla da Instituição, dtype: int64

# Conferindo se existe nomes de instituições preenchidos como número

In [13]:
instituicao = list((df.drop_duplicates(subset ="Nome da Instituição", keep = 'last')['Nome da Instituição']))

In [14]:
import collections

frequencia = []

for i in range(0,len(instituicao)):
  try:
    result = instituicao[i].isdigit()
    frequencia.append(result)
  except:
    print('Valor nulo encontrado')

counter=collections.Counter(frequencia)

print(counter)

Valor nulo encontrado
Counter({False: 3980})

# Conferindo se possui string na variavel CNPJ

In [15]:
CNPJ = list((df.drop_duplicates(subset ="CNPJ da Instituição", keep = 'last')['CNPJ da Instituição']))

In [16]:
frequencia = []

for i in range(0,len(CNPJ)):
  try:
    result = isinstance(CNPJ[i], str)
    frequencia.append(result)
  except:
    print('Valor nulo encontrado')

counter=collections.Counter(frequencia)

print(counter)

Counter({True: 4176, False: 1})

# Analisando o tamanho dos CNPJ's

In [17]:
frequencia = []

for i in range(0,len(CNPJ)):
  try:
    result = sum(len(i) for i in CNPJ[i])
    frequencia.append(result)
  except:
    print('Valor nulo encontrado')

counter=collections.Counter(frequencia)

print(counter)

Valor nulo encontrado
Counter({14: 2664, 13: 1365, 12: 127, 11: 18, 9: 1, 10: 1})

# Conferindo se o nome da instituição regional / local esta preenchido como string

In [18]:
instituicao = list((df.drop_duplicates(subset ="Nome do escritório regional/local", keep = 'last')['Nome do escritório regional/local']))

In [19]:
import collections

frequencia = []

for i in range(0,len(instituicao)):
  try:
    result = instituicao[i].isdigit()
    frequencia.append(result)
  except:
    print('Valor nulo encontrado')

counter=collections.Counter(frequencia)

print(counter)

Valor nulo encontrado
Counter({False: 488})

# Conferindo se possui valores textuais na variavel CNPJ do escritório regional/local

In [20]:
CNPJ = list((df.drop_duplicates(subset ="CNPJ do escritório regional/local", keep = 'last')['CNPJ do escritório regional/local']))

In [21]:
frequencia = []

for i in range(0,len(CNPJ)):
  try:
    result = isinstance(CNPJ[i], str)
    frequencia.append(result)
  except:
    print('Valor nulo encontrado')

counter=collections.Counter(frequencia)

print(counter)

Counter({True: 369, False: 1})

# Conferindo a frequência de caracteres na variável CNPJ do escritório regional/local

In [22]:
instituicao = list((df.drop_duplicates(subset ="CNPJ do escritório regional/local", keep = 'last')['CNPJ do escritório regional/local']))

In [23]:
frequencia = []

for i in range(0,len(instituicao)):
  try:
    result = sum(len(i) for i in instituicao[i])
    frequencia.append(result)
  except:
    print('Valor nulo encontrado')

counter=collections.Counter(frequencia)

print(counter)

Valor nulo encontrado
Counter({14: 305, 13: 62, 11: 1, 12: 1})

# Tipo da forma de abastecimento

In [24]:
df['Tipo da Forma de Abastecimento'].value_counts()

SAA    412062
SAC    104570
Name: Tipo da Forma de Abastecimento, dtype: int64

### Conferindo se tem nome preenchido apenas com números

In [25]:
instituicao = list((df.drop_duplicates(subset ="Nome da Forma de Abastecimento", keep = 'last')['Nome da Forma de Abastecimento']))

In [26]:
import collections

frequencia = []

for i in range(0,len(instituicao)):
  try:
    result = instituicao[i].isdigit()
    frequencia.append(result)
  except:
    print('Valor nulo encontrado')

counter=collections.Counter(frequencia)

print(counter)

Counter({False: 9543, True: 4})

# Ano de referência

In [27]:
df['Ano de referência'].value_counts()

2020    101187
2019     86470
2021     85865
2018     79548
2017     79023
2016     34875
2014     25498
2015     24166
Name: Ano de referência, dtype: int64

# Mês de referência

In [28]:
df['Mês de referência'].value_counts()

1     47399
4     45509
5     44740
3     43905
2     43892
9     43542
10    43444
6     43246
7     43074
8     43051
11    37865
12    36965
Name: Mês de referência, dtype: int64

# Data de registro

In [29]:
from collections import Counter

# Separando os anos 

Ano = []

for i in range(0,len(df['Data de registro'])):
  Ano.append(df['Data de registro'][i][0:4])

# Separando os meses

print(50 * '--')

print(" Ano ")

print(50 * '--')

print(Counter(Ano))


mes = []

for i in range(0,len(df['Data de registro'])):
  mes.append(df['Data de registro'][i][5:7])


print(50 * '--')

print(" Mes ")

print(50 * '--')

print(Counter(mes))


# Separando os dias

dia = []

for i in range(0,len(df['Data de registro'])):
  dia.append(df['Data de registro'][i][8:10])


print(50 * '--')

print(" Dia ")

print(50 * '--')

print(Counter(dia))

----------------------------------------------------------------------------------------------------
 Ano
----------------------------------------------------------------------------------------------------
Counter({'2020': 100641, '2021': 95705, '2019': 87221, '2018': 80014, '2017': 76494, '2015': 34772, '2016': 34091, '2014': 7694})
----------------------------------------------------------------------------------------------------
 Mes
----------------------------------------------------------------------------------------------------
Counter({'10': 52091, '08': 47632, '05': 46781, '09': 46659, '11': 46057, '07': 43756, '03': 41898, '04': 40167, '06': 39552, '12': 38745, '01': 37799, '02': 35495})
----------------------------------------------------------------------------------------------------
 Dia
----------------------------------------------------------------------------------------------------
Counter({'10': 42801, '09': 42170, '08': 35714, '07': 25552, '14': 24581, '06': 24422, '13': 24378, '11': 24241, '15': 24230, '12': 20369, '05': 20051, '04': 14004, '03': 13992, '16': 13062, '27': 11844, '17': 11816, '18': 11697, '02': 11540, '23': 11205, '20': 11032, '21': 10222, '26': 10190, '19': 9759, '01': 9436, '22': 9286, '29': 9272, '25': 9238, '28': 8923, '24': 8215, '30': 8108, '31': 5282})

# Data de preenchimento do relatório mensal

In [30]:
from collections import Counter

DT_registro = []

for i in range(0,len(df['Data de preenchimento do relatório mensal'])):

  if len(str(df['Data de preenchimento do relatório mensal'][i])) > 5:

    DT_registro.append(df['Data de preenchimento do relatório mensal'][i][0:10])

# Separando os anos 

Ano = []

for i in range(0,len(df['Data de preenchimento do relatório mensal'])):
  if len(str(df['Data de preenchimento do relatório mensal'][i])) > 5:
    Ano.append(df['Data de preenchimento do relatório mensal'][i][0:4])

# Separando os meses

print(50 * '--')

print(" Ano ")

print(50 * '--')

print(Counter(Ano))


mes = []

for i in range(0,len(df['Data de preenchimento do relatório mensal'])):
  if len(str(df['Data de preenchimento do relatório mensal'][i])) > 5:
    mes.append(df['Data de preenchimento do relatório mensal'][i][5:7])


print(50 * '--')

print(" Mes ")

print(50 * '--')

print(Counter(mes))


# Separando os dias

dia = []

for i in range(0,len(df['Data de preenchimento do relatório mensal'])):
  if len(str(df['Data de preenchimento do relatório mensal'][i])) > 5:
    dia.append(df['Data de preenchimento do relatório mensal'][i][8:10])


print(50 * '--')

print(" Dia ")

print(50 * '--')

print(Counter(dia))

----------------------------------------------------------------------------------------------------
 Ano
----------------------------------------------------------------------------------------------------
Counter({'2020': 100652, '2021': 94661, '2019': 87047, '2018': 79301, '2017': 75917, '2015': 33913, '2016': 32281, '2014': 12842})
----------------------------------------------------------------------------------------------------
 Mes
----------------------------------------------------------------------------------------------------
Counter({'10': 51463, '08': 46750, '05': 46113, '11': 45428, '09': 44626, '07': 42715, '03': 42079, '06': 41458, '04': 41310, '12': 38849, '02': 38833, '01': 36990})
----------------------------------------------------------------------------------------------------
 Dia
----------------------------------------------------------------------------------------------------
Counter({'09': 40369, '08': 39423, '10': 37988, '07': 34533, '06': 32913, '05': 28450, '11': 27527, '12': 24552, '13': 23344, '14': 19280, '04': 17626, '15': 17376, '03': 14566, '02': 12429, '17': 10839, '20': 10559, '01': 10283, '27': 10008, '16': 9961, '18': 9736, '30': 9733, '21': 8522, '23': 8205, '22': 7768, '19': 7765, '31': 7741, '26': 7600, '29': 7586, '28': 7551, '25': 6463, '24': 5918})

# Data de preenchimento do relatório mensal

In [31]:
from collections import Counter

DT_registro = []

for i in range(0,len(df['Data da coleta'])):

  if len(str(df['Data da coleta'][i])) > 5:

    DT_registro.append(df['Data da coleta'][i][0:10])

# Separando os anos 

Ano = []

for i in range(0,len(df['Data da coleta'])):
  if len(str(df['Data da coleta'][i])) > 5:
    Ano.append(df['Data da coleta'][i][0:4])

# Separando os meses

print(50 * '--')

print(" Ano ")

print(50 * '--')

print(Counter(Ano))


mes = []

for i in range(0,len(df['Data da coleta'])):
  if len(str(df['Data da coleta'][i])) > 5:
    mes.append(df['Data da coleta'][i][5:7])


print(50 * '--')

print(" Mes ")

print(50 * '--')

print(Counter(mes))


# Separando os dias

dia = []

for i in range(0,len(df['Data da coleta'])):
  if len(str(df['Data da coleta'][i])) > 5:
    dia.append(df['Data da coleta'][i][8:10])


print(50 * '--')

print(" Dia ")

print(50 * '--')

print(Counter(dia))

----------------------------------------------------------------------------------------------------
 Ano
----------------------------------------------------------------------------------------------------
Counter({'2020': 101187, '2019': 86468, '2021': 85864, '2018': 79543, '2017': 79021, '2016': 34873, '2014': 25498, '2015': 24162})
----------------------------------------------------------------------------------------------------
 Mes
----------------------------------------------------------------------------------------------------
Counter({'01': 47398, '04': 45507, '05': 44739, '03': 43903, '02': 43888, '09': 43542, '10': 43444, '06': 43242, '07': 43073, '08': 43051, '11': 37864, '12': 36965})
----------------------------------------------------------------------------------------------------
 Dia
----------------------------------------------------------------------------------------------------
Counter({'13': 19097, '18': 18973, '06': 18872, '05': 18727, '14': 18668, '10': 18657, '16': 18608, '19': 18581, '04': 18557, '08': 18526, '09': 18519, '17': 18381, '07': 18207, '11': 18149, '22': 17942, '15': 17852, '03': 17841, '12': 17565, '20': 17350, '23': 16711, '21': 16679, '27': 16329, '02': 16153, '26': 15750, '24': 15669, '25': 15324, '01': 14492, '28': 14283, '29': 12038, '30': 9452, '31': 4664})

# Ponto de Monitoramento

In [32]:
df['Ponto de Monitoramento'].value_counts()

SISTEMA DE DISTRIBUIÇÃO    412062
PONTO DE CONSUMO           104570
Name: Ponto de Monitoramento, dtype: int64

# Parâmetro

In [33]:
df['Parâmetro'].value_counts()

Cloro Residual Livre (mg/L)          239474
Cor (uH)                              62735
Coliformes totais                     54641
Fluoreto (mg/L)                       53471
Turbidez (uT)                         46405
pH                                    40680
Escherichia coli                       7876
Cloro Residual Combinado (mg/L)        6304
Bactérias Heterotróficas (UFC/mL)      3692
Dióxido de Cloro                       1354
Name: Parâmetro, dtype: int64

# Zona

In [34]:
df['Zona'].value_counts()

Urbana    459365
Rural      57246
Name: Zona, dtype: int64

# Categoria Área

In [35]:
df['Categoria Área'].value_counts()

Bairro                        418122
Povoado/Lugarejo               39675
Área urbana isolada            27760
Núcleo/Propriedade Rural       15097
Sede de distrito (ou vila)     13483
Comunidade Ribeirinha            995
Comunidade Quilombola            872
Reserva Extrativista             325
Projeto de assentamento          181
Aldeia indígena                  101
Name: Categoria Área, dtype: int64

# Tipo do local

In [36]:
df['Tipo do local'].value_counts()

Indústria                    18218
Estabelecimento de ensino    16315
Outro                        15576
Estabelecimento comercial    11692
Estabelecimento de saúde      8508
Condomínio                    3488
Casa                          2714
Clube                         1793
Cadeia/Presídio               1570
Posto de combustível          1319
Edifício/Prédio               1257
Grupo de casas                1075
Conjunto habitacional          855
Creche                         438
Asilo/Casa de repouso          339
Praça                          237
Parque                         146
Templo religioso               130
Linha                          116
Rodoviária                      80
Aeroporto                       79
Porto                           50
Cemitério                       46
Estádio/Ginásio                 36
Construção civil (obra)         20
Estação Ferroviária             11
Acampamento                      1
Name: Tipo do local, dtype: int64

# Conferindo se existe local preenchido como número

In [37]:
local = list((df.drop_duplicates(subset ="Local", keep = 'last')['Local']))

In [38]:
import collections

frequencia = []

for i in range(0,len(local)):
  try:
    result = local[i].isdigit()
    frequencia.append(result)
  except:
    print('Valor nulo encontrado')

counter=collections.Counter(frequencia)

print(counter)

Valor nulo encontrado
Counter({False: 3881, True: 2})

# Conferindo se a string de endereço foi preenchida como número

In [39]:
Endereco = [x for x in list((df.drop_duplicates(subset ="Endereço", keep = 'last')['Endereço'])) if str(x) != 'nan']

In [40]:
import collections

frequencia = []

for i in range(0,len(Endereco)):
  try:
    result = Endereco[i].isdigit()
    frequencia.append(result)
  except:
    print('Valor nulo encontrado')

counter=collections.Counter(frequencia)

print(counter)

Counter({False: 137157, True: 14})

# Analisando se os valores de latitude são todos numéricos

In [41]:
LAT = [x for x in list((df.drop_duplicates(subset ="Latitude", keep = 'last')['Latitude'])) if str(x) != 'nan']

In [42]:
import collections

frequencia = []

for i in range(0,len(LAT)):
  try:
    result = str(LAT[i]).replace('.','').replace('-','').isdigit()
    frequencia.append(result)
  except:
    print('Valor nulo encontrado')

counter=collections.Counter(frequencia)

print(counter)

Counter({True: 2003})

# Analisando se os valores de longitude são todos numéricos

In [43]:
LONG = [x for x in list((df.drop_duplicates(subset ="Longitude", keep = 'last')['Longitude'])) if str(x) != 'nan']

In [44]:
import collections

frequencia = []

for i in range(0,len(LONG)):
  try:
    result = str(LONG[i]).replace('.','').replace('-','').isdigit()
    frequencia.append(result)
  except:
    print('Valor nulo encontrado')

counter=collections.Counter(frequencia)

print(counter)

Counter({True: 1950})

# Analisando o Campo numérico da base

In [45]:
Resultado = [x for x in list((df.drop_duplicates(subset ="Resultado", keep = 'last')['Resultado'])) if str(x) != 'nan']

In [46]:
import collections

frequencia = []

for i in range(0,len(Resultado)):
  try:
    result = str(Resultado[i]).replace('.','').replace('-','').replace(',','').isdigit()
    frequencia.append(result)
  except:
    print('Valor nulo encontrado')

counter=collections.Counter(frequencia)

print(counter)

Counter({True: 6107, False: 1})

# Providência do controle

In [47]:
df['Providência do controle'].value_counts()

Será avaliado em Análise Crítica.                                                           84898
DESCARGA NA REDE                                                                            23848
RECOLETA                                                                                    19167
Ajuste na cloração.                                                                         15762
Ação corretiva análise Portaria de Potabilidade                                             12191
                                                                                            ...
APÓS LIMPEZA E DESINFECÇÃO NA REDE DE DISTRIBUIÇÃO, RESULTADO AUSENTE EM 04/02.                 1
Recoleta 21/12/2016, CRL 0,8mg/L, turbidez 0,20uT, Coliformes totais e E. coli ausentes.        1
Desinfecção e Rocoleta                                                                          1
NO MOMENTO A ÁGUA ESTA SENDO UTILIZADA PARA CONSTRUÇÃO SERA IMPLANTADO O FILTRO                 1
o responsável foi orientado sobre as normas vigentes                                            1
Name: Providência do controle, Length: 47749, dtype: int64

# Realizando a busca pela chave primária

In [48]:
(df.groupby(['Código Forma de abastecimento', 'Município','Mês de referência','Ponto de Monitoramento','Tipo da Forma de Abastecimento', 'Zona','Parâmetro','Providência do controle']).size()).value_counts()

1      100619
2       23012
3       10858
4        6271
5        4148
6        2899
7        1917
8        1634
9        1248
10       1114
11        766
12        697
13        576
14        455
15        408
16        372
17        324
18        288
19        243
20        216
21        194
22        174
23        163
25        140
24        139
50        137
28        124
26        123
27        108
29        103
30        103
31         98
32         80
34         73
33         73
49         67
39         60
38         54
40         51
35         51
36         50
100        48
45         48
46         47
42         45
37         42
44         39
41         39
47         37
43         36
48         34
51         29
52         25
55         20
53         19
54         18
56         16
72         16
57         16
249        15
60         14
63         13
82         13
81         13
59         13
77         12
62         12
68         12
67         11
80         11
58         10
65         10
88         10
76          9
70          9
99          9
73          9
200         9
96          9
69          8
64          8
74          8
75          8
83          8
87          8
90          8
248         8
92          8
250         8
98          7
61          7
97          7
94          7
91          7
89          7
84          7
105         7
71          6
95          6
247         6
78          6
104         5
107         5
150         5
66          5
196         4
137         4
109         4
101         4
149         4
146         4
86          4
197         4
112         4
199         4
119         3
125         3
169         3
140         3
120         3
161         3
102         3
198         3
246         3
103         3
115         3
79          3
180         3
187         3
147         3
111         3
136         2
145         2
133         2
151         2
142         2
148         2
129         2
139         2
134         2
127         2
163         2
126         2
106         2
165         2
234         2
211         2
108         2
237         2
239         2
194         2
193         2
192         2
190         2
252         2
244         2
124         2
251         2
175         2
173         2
242         1
130         1
226         1
138         1
235         1
236         1
116         1
118         1
245         1
117         1
93          1
241         1
223         1
214         1
141         1
188         1
168         1
170         1
171         1
172         1
154         1
183         1
184         1
152         1
185         1
189         1
219         1
201         1
202         1
204         1
207         1
212         1
85          1
144         1
215         1
218         1
128         1
dtype: int64